{{> head }}


{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Feliz Navidad</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore consectetur laudantium quae totam obcaecati sit, veritatis harum possimus fugit necessitatibus cupiditate tempore nisi hic dolor facilis molestiae perferendis labore error?</p>
    </div>
    <div class="col-4">
        <img src="assets/imgs/feliznavidad.jpg" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer }}
